* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial;
    color: #A9A9A9;
}
html, body {
    position: relative;
    height: 100vh;
    background-color: #EFEFEF;
}
.header {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    background-color: whitesmoke;
}
.header a {
    position: relative;
    text-decoration: none;
}
.header a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #A9A9A9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.header a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.small_name {
    flex: 0.85;
    display: inline-block;
    text-align: left;
}
.container {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    padding: 5px 5px 10px 5px;
    min-height: calc(100vh - (42.4px + 76px));
}
.container.home {
    justify-content: center;
}
#large_title {
    font-size: 72px;
    width: 100%;
}
#text {
    font-size: 16px;
    width: 75%;
}
.content {
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.content button {
    cursor: pointer;
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background-color: #f7ae39;
    color: whitesmoke;
    padding: 10px;
    filter: grayscale(100%);
    transition: filter 0.3s;
}
.content button:hover {
    filter: grayscale(0%);
}
.footer {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    background-color: whitesmoke;
    height: 76px;
}
.footer a {
    text-decoration: none;
}
.footer img {
    filter: grayscale(100%);
    transition: filter 0.3s;
}
.footer img:hover {
    filter: grayscale(0%);
}

/* Portfolio  */
.portfolio-grid {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 90%;
    padding-top: 10px;
}
.portfolio-item {
    padding: 5px;
}
.portfolio-item img {
    min-width: 275px;
}

/* Contact */
.container.contact {
    width: 75%;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    box-shadow: 5px 8px 8px #A9A9A9;
}
form {
    padding: 10px;
}
input, textarea {
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0 10px 0;
}
input[type=submit] {
    border: none;
}
input:focus, textarea:focus {
    outline: none;
    border: 2px solid #f7ae39;
}
textarea {
    width: 100%;
    resize: none;
}

/* Responsiveness */
@media screen and (max-width: 500px) {
    .small_name {
        flex: 1 0 100%;
        text-align: center;
    }
    #large_title {
        font-size: 64px;
    }
    nav {
        flex: 0 1 100%;
        text-align: center;
    }
    .portfolio-item img {
        width: 200px;
    }
    .container.contact {
        width: 90%;
        background-color: whitesmoke;
    }
}