* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial;
    color: #A9A9A9;
}
.header {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 18px;
}
.header a {
    position: relative;
    text-decoration: none;
}
.header a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #A9A9A9;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.header a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.small_name {
    flex: 0.85;
    display: inline-block;
    text-align: left;
}
.container {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    padding: 10px;  
}
.large_name {
    font-size: 24px;
}
.content {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.footer {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.footer a {
    text-decoration: none;
}
/* Other colors to use include #9C5ECB and #f7ae39*/